.ContentSector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 25rem;

}

.wide{
    display: flex;
    position: relative;

    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.narrow{
    display: flex;
    position: relative;

    aspect-ratio: 3/4;
    height: 100%;

    background-color: #ce5009;
}

.triggered{}