.container{
    display: flex;
    flex-direction: column;

    margin: auto;

    gap: 3rem;


    background-color: var(--bg);
    color: var(--primary);

    transition: var(--theme-change);

}

.container > * {
    padding-left: 5%;
    padding-right: 5%;
}